* {
    direction: rtl;
    padding: 0;
    margin:0;
}

body {
    font-family: Arial;
    padding-bottom: 38px;
    background: #fff;
    text-align: right;

}
.top {
        width: 100%;
        height: 105px;
        position: absolute;
       background-image: linear-gradient(to bottom, rgb(144, 144, 144) 85%, rgb(170,170,170));    
    }
    .homeicon {
        width: 17px;
    }
    
.tohen {
    width: 900px;
    direction: rtl;
    position: relative;
    margin: auto;
}
header {
    width: 100%;
   background-image: linear-gradient(to bottom, rgb(144, 144, 144) 85%, rgb(170,170,170));  
}
.logo {
    display: block;
    width: 142px;
    height: 93px;
    position: absolute;
    bottom: -20px;
    right: -8px;
}
nav.main-nav >ul > li > a {
    display: inline-block;
    width: 100%;
    margin: 10px;
    color: white;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;

}
nav >ul > li {
    display: inline-block;
    margin: 2px 0;
    padding: 0 5px;
    
}
nav > ul {
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0; 
}
nav.main-nav {
    padding-top: 65px;
    margin: 0 143px 0 0;
}

.dropdown {    
    display: inline-block;
    position: relative;
    }
.dropdown-content ul {
        width: 100%;
        background-image: linear-gradient(to top, rgb(144, 144, 144) 90%, rgb(170,170,170));
}
 .dropdown-content {
        display: none;
        position: absolute;
        color: white;  
}
    
.dropdown:hover > .dropdown-content {
        display: block;
        
     }
nav.dropdown-content > ul > li > a:hover {
    width:100%;    
    background-color: #bcbcbc;
    text-decoration: underline;
    color: #005ca0;
        
    }
nav.dropdown-content > ul > li > a {
    color:white;
    text-decoration: none;
    width: 100%;
}
nav.main-nav > ul > li > a:hover {
    width: 100%;
        text-decoration: underline;
        color: #005ca0;}
}
.dropdown-content {
    color: white;
    text-decoration: none;
    
    
}
nav.dropdown-content > ul > li {
    padding-top: 7px;
    
}
